<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/create" method="POST">
        <label for="">Stock code</label>
        <input type="number" name="stockcode">
        <label for="">Stock name</label>
        <input type="text" name="stockname">
        <label for="">Quantity</label>
        <input type="number" name="quantity">
        <label for="">Total Price</label>
        <input type="number" name="price">
        <button type="submit">Create</button>
    </form>
</body>
</html>